# Copyright (c) 2024 gem5 RISC-V RT Project
# SPDX-License-Identifier: Apache-2.0

if BOARD_GEM5_RISCV32_SRAM

config BOARD
	default "gem5_riscv32_sram"

config BUILD_OUTPUT_BIN
	default n

endif # BOARD_GEM5_RISCV32_SRAM
